<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Dashboard</title>
    <link rel="icon" href="/images/faviconLogo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/libs/bootstrap.min.css" />
    <link rel="stylesheet" href="/CSS/styles.css" />
    <script src="/JS/sessionManager.js" defer></script>
  </head>
  <body>
    <!-- Navigation Buttons -->
    <div class="right-fixed-buttons">
      <button class="btn btn-danger" id="signoutButton">
        <img
          src="/images/logoutButton.png"
          alt="Sign Out"
          class="navigation-icon"
        />
        Sign Out
      </button>
    </div>

    <!--Content-->
    <div class="container my-5">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <h1 class="text-center mb-4">User Dashboard</h1>
      <div class="row justify-content-center">
        <!-- Card 1: Change Password -->
        <div class="col-md-3 mb-4">
          <div class="card shadow-sm h-100" id="changePasswordCard">
            <img
              src="/images/resetPassword.png"
              class="card-img-top"
              alt="Change Password"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Change Password</h5>
            </div>
          </div>
        </div>

        <!-- Card 2: Search User -->
        <div class="col-md-3 mb-4">
          <div class="card shadow-sm h-100" id="searchUserCard">
            <img
              src="/images/searchUser.png"
              class="card-img-top"
              alt="Search User"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Search User</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/libs/jquery.js"></script>
    <script src="/libs/bootstrap.min.js"></script>
    <script src="/JS/headerButtons.js"></script>
    <script src="/JS/routesRender.js"></script>
    <script src="/libs/crypto-js.min.js"></script>
  </body>
</html>
