<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create User</title>
    <link rel="icon" href="images/faviconLogo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/libs/bootstrap.min.css" />

    <link rel="stylesheet" href="CSS/styles.css" />
    <!-- <script src="/JS/sessionManager.js" defer></script> -->
  </head>
  <body>
    <!-- Navigation Buttons -->
    <div class="left-fixed-buttons">
      <div class="button-row">
        <button class="btn btn-secondary" id="backButton">
          <img
            src="/images/backButton.png"
            alt="Back"
            class="navigation-icon"
          />
          Back
        </button>
        <button class="btn btn-primary" id="homeButton">
          <img
            src="/images/homeButton.png"
            alt="Home"
            class="navigation-icon"
          />
          Home
        </button>
      </div>
    </div>

    <div class="right-fixed-buttons">
      <button class="btn btn-danger" id="signoutButton">
        <img
          src="/images/logoutButton.png"
          alt="Sign Out"
          class="navigation-icon"
        />
        Sign Out
      </button>
    </div>

    <!-- Content -->
    <div
      class="container d-flex align-items-center justify-content-center py-5"
    >
      <div class="card p-4 shadow-lg col-lg-6 col-md-8 col-sm-12 no-pointer">
        <h2 class="text-center mb-4">Create User</h2>
        <form id="createUserForm" autocomplete="off">
          <!-- User Details -->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="title" class="required">Title</label>
              <select class="form-control" id="title" required>
                <option value="user" selected>User</option>
                <option value="admin">Admin</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="organizationDN" class="required">Select OU</label>
              <select class="form-control" id="organizationDN" required>
                <option value="">Select Organizational Unit</option>
              </select>
              <small
                id="organizationDNError"
                class="text-danger d-none"
              ></small>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="firstName" class="required">First Name</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                placeholder="Enter first name"
                required
                autocomplete="off"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="lastName" class="required">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="lastName"
                placeholder="Enter last name"
                required
                autocomplete="off"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="givenName" class="required">Username</label>
              <input
                type="text"
                class="form-control"
                id="givenName"
                placeholder="Enter username"
                required
                autocomplete="off"
              />
              <small id="givenNameError" class="text-danger d-none"></small>
            </div>
            <div class="form-group col-md-6">
              <label for="telephoneNumber" class="required"
                >Phone Number (+91)</label
              >
              <input
                type="text"
                class="form-control"
                id="telephoneNumber"
                placeholder="Enter telephone number"
                required
                autocomplete="off"
              />
              <small
                id="telephoneNumberError"
                class="text-danger d-none"
              ></small>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="registeredAddress" class="required">Address</label>
              <input
                type="text"
                class="form-control"
                id="registeredAddress"
                placeholder="Enter registered address"
                required
                autocomplete="off"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="postalCode" class="required">Postal Code</label>
              <input
                type="text"
                class="form-control"
                id="postalCode"
                placeholder="Enter 6 digit postal code"
                required
                autocomplete="off"
              />
              <small id="postalCodeError" class="text-danger d-none"></small>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="mail" class="required">Email</label>
              <input
                type="email"
                class="form-control"
                id="mail"
                placeholder="example@gmail.com"
                required
                autocomplete="off"
              />
              <small id="mailError" class="text-danger d-none"></small>
            </div>
            <div class="form-group col-md-6">
              <label for="userPassword" class="required">User Password</label>
              <input
                type="password"
                class="form-control"
                id="userPassword"
                placeholder="Enter password"
                required
                autocomplete="off"
              />
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-block">
            Create User
          </button>
        </form>
      </div>
    </div>

    <script src="/libs/jquery.js"></script>
    <script src="/libs/bootstrap.min.js"></script>
    <script src="/JS/createUserScript.js"></script>
    <script src="/JS/headerButtons.js"></script>
    <script src="/libs/crypto-js.min.js"></script>
  </body>
</html>
