<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit User Details</title>
    <link rel="icon" href="/images/faviconLogo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/libs/bootstrap.min.css" />
    <link rel="stylesheet" href="/CSS/styles.css" />
    <script src="/JS/sessionManager.js" defer></script>
  </head>
  <body>
    <!-- Navigation Buttons -->
    <div class="left-fixed-buttons">
      <div class="button-row">
        <button class="btn btn-secondary" id="backButton">
          <img
            src="/images/backButton.png"
            alt="Back"
            class="navigation-icon"
          />
          Back
        </button>
        <button class="btn btn-primary" id="homeButton">
          <img
            src="/images/homeButton.png"
            alt="Home"
            class="navigation-icon"
          />
          Home
        </button>
      </div>
    </div>

    <div class="right-fixed-buttons">
      <button class="btn btn-danger" id="signoutButton">
        <img
          src="/images/logoutButton.png"
          alt="Sign Out"
          class="navigation-icon"
        />
        Sign Out
      </button>
    </div>

    <!-- Content -->
    <div
      class="container d-flex justify-content-center align-items-center min-vh-100"
    >
      <div class="card no-pointer" class="resetPwd-layout">
        <div class="card-body p-4">
          <h5 class="card-title text-center">Edit User Details</h5>

          <!-- Horizontal Toggle Option -->
          <div class="form-row justify-content-center align-items-center mb-3">
            <label for="editType" class="mr-2">Choose Edit Type:</label>
            <select class="form-control w-auto" id="editType">
              <option value="general">General Edit</option>
              <option value="contact">Edit Contact Details Only</option>
            </select>
          </div>

          <form id="editUserForm">
            <div class="form-row">
              <div class="form-group col-md-8">
                <label for="username">Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  required
                  readonly
                />
              </div>
              <div class="form-group col-md-4">
                <label for="userOU">OU</label>
                <input
                  type="text"
                  class="form-control"
                  id="userOU"
                  required
                  readonly
                />
              </div>
            </div>
            <div class="invalid-feedback"></div>
            <!-- Error message here -->

            <div class="form-group">
              <label for="telephoneNumber">Phone Number (+91)</label>
              <input type="text" class="form-control" id="telephoneNumber" />
              <div class="invalid-feedback"></div>
              <!-- Error message here -->
            </div>
            <div class="form-group">
              <label for="mail">Email</label>
              <input type="email" class="form-control" id="mail" />
              <div class="invalid-feedback"></div>
              <!-- Error message here -->
            </div>
            <div class="form-group">
              <label for="registeredAddress">Address</label>
              <input type="text" class="form-control" id="registeredAddress" />
              <div class="invalid-feedback"></div>
              <!-- Error message here -->
            </div>
            <div class="form-group">
              <label for="postalCode">Postal Code</label>
              <input type="text" class="form-control" id="postalCode" />
              <div class="invalid-feedback"></div>
              <!-- Error message here -->
            </div>
            <button type="submit" class="btn btn-primary btn-block">
              Update User
            </button>
          </form>
        </div>
      </div>
    </div>

    <script src="/libs/jquery.js"></script>
    <script src="/libs/bootstrap.min.js"></script>
    <script src="/JS/script.js"></script>
    <script src="/JS/headerButtons.js"></script>
    <script src="/libs/crypto-js.min.js"></script>
  </body>
</html>
