<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search User</title>
    <link rel="icon" href="/images/faviconLogo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/libs/bootstrap.min.css" />
    <link rel="stylesheet" href="/CSS/styles.css" />
    <script src="/JS/sessionManager.js" defer></script>
  </head>
  <body>
    <!-- Navigation Buttons -->
    <div class="left-fixed-buttons">
      <div class="button-row">
        <button class="btn btn-secondary" id="backButton">
          <img
            src="/images/backButton.png"
            alt="Back"
            class="navigation-icon"
          />
          Back
        </button>
        <button class="btn btn-primary" id="homeButton">
          <img
            src="/images/homeButton.png"
            alt="Home"
            class="navigation-icon"
          />
          Home
        </button>
      </div>
    </div>

    <div class="right-fixed-buttons">
      <button class="btn btn-danger" id="signoutButton">
        <img
          src="/images/logoutButton.png"
          alt="Sign Out"
          class="navigation-icon"
        />
        Sign Out
      </button>
    </div>

    <!-- Content -->
    <div class="container my-5">
      <h1 class="text-center mb-4">Search User</h1>

      <!-- Search Form -->
      <form id="searchUserForm">
        <div class="input-group mb-4">
          <select class="form-control col-md-3" id="ouDropdown">
            <option value="">Select OU</option>
            <!-- OU options will be dynamically added here -->
          </select>
          <input
            type="text"
            class="form-control"
            id="usernameInput"
            placeholder="Enter username"
            required
          />
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Search</button>
          </div>
        </div>
      </form>

      <!-- Error Message for No User Found -->
      <div id="errorMessage" class="alert alert-danger d-none">
        No user found with that username.
      </div>

      <!-- User Details Table -->
      <div id="userDetailsTable" class="d-none card p-4 shadow-lg no-pointer">
        <h3>User Details</h3>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Username</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Address</th>
                <th scope="col">Postal Code</th>
              </tr>
            </thead>
            <tbody id="userDetailsTableBody">
              <!-- Dynamic rows will be added here -->
            </tbody>
          </table>
        </div>
      </div>

      <script src="/libs/jquery.js"></script>
      <script src="/libs/bootstrap.min.js"></script>
      <script src="JS/searchUserScript.js"></script>
      <script src="JS/headerButtons.js"></script>
      <script src="/libs/crypto-js.min.js"></script>
    </div>
  </body>
</html>
